extends base

mixin project(href, number, title, description, id, svgs)
    .project-tile
        h1.project-number= number
        .project-mobile
            .project-split
                h1.project-title= title
                p.project-description= description
            video.video(id=id width="600" height="300" muted autoplay playsinline loop)
                source(src='/movies/rachelnoelle.mp4' type='video/mp4')
            if svgs
                h1.svg-title Tech
                    .svgs
                        each svg in svgs
                            img.svg(src=svg)
        a.site-link(href='#') Live Site 
            span.arrow &rarr;
            


block content
    section(id='welcome-section')
        .hero-container
            div(id="bm-first")
            .hero-bio 
                p I'm Clint Strong, a full stack developer 
                p focused on Node, React, and Next.js.
                p Army veteran as an IT specialist &lpar;25B&rpar;.
                p Prior Defense Health Agency IT lead.
                p Residing in Santa Barbara, California.
    h1(id='projects-title') Projects 
    section(id='projects')
        +project('/', 1, 'Rachel Noelle - eCommerce/Coaching site', 'NextJS application allowing my client to sell their own art as well as coaching programs. Features CRUD to a supabase backend, client emails, OAuthentication, user authorization, Stripe eccommerce with webhooks and more.', "video1", ["/svgs/nextjs.svg", "/svgs/framer-motion.avif", "/svgs/tailwind.svg", "/svgs/supabase.svg"])
        +project('/', 2, 'This is my second project', "Description to the second project", "video2")
        +project('/', 3, 'This is my third project', "Description to the third project", "video3")