extends base

mixin skill(name, description, year)
    .skill-tile
        h1.skill-name= name
        h1.skill-year= year
        p.skill-description= description

mixin project(href, number, name, project, type, description, videoName, mobileVideo, tech)
    .project-tile
        .project-mobile
            .number-div
                h1.project-number= `0${number}`
                .number-reveal-overlay
            .project-splitter
                .project-split
                    .hero-div
                        h1.project-name= name
                        .reveal-overlay
                    .hero-div
                        p.project-project= project
                        .reveal-overlay
                    .hero-div
                        h1.project-type= type
                        .reveal-overlay
                    .hero-div
                        p.project-description= description
                        .reveal-overlay
                .project-skill
                    .hero-div
                        h1.tech-title Tech
                        .reveal-overlay
                        .skills-list
                            each skill in tech
                                .hero-div
                                    p.skill= `/${skill}/`
                                    .reveal-overlay
        if videoName
            video.video(height="500" width="800" muted autoplay playsinline loading='lazy')
                source(src=`/videos/${videoName}` type="video/mp4")
        if mobileVideo
            video.mobile-video(muted autoplay playsinline loop loading='lazy')
                source(src=`/videos/${mobileVideo}` type="video/mp4")
        if href
            a.site-link(href=href target="_blank") &rarr;
        else
            .site-link &rarr;

block content
    section(id='welcome-section')
        .hero-container
            div(id="bm-first")
            .hero-bio
                .hero-div 
                    p I'm Clint Strong, a full stack developer 
                    .hero-bio-overlay
                .hero-div
                    p focused on Node, React, Next and Python.
                    .hero-bio-overlay
                .hero-div
                    p Prior Defense Health Agency IT lead.
                    .hero-bio-overlay
                .hero-div 
                    p Army veteran as an IT specialist &lpar;25B&rpar;.
                    .hero-bio-overlay
                .hero-div  
                    p Residing in Santa Barbara, California.
                    .hero-bio-overlay
    h1 Skills
    section.skills
        +skill('html', '.+.', '90')
        +skill('css', '..+++.', '96')
        +skill('javascript', '....++.', '95')
        +skill('tailwind', 'Best thing since sliced bread, regular css makes me want to -REDACTED-', '17')
        +skill('react', ':O', '13')
        +skill('next', 'Fast and easy front and backend applications', '16')
        +skill('node', 'npm run dev', '09')
        +skill('mongodb', 'noSQL, document database', '07')
        +skill('mongoose', 'allows schema and models within mongodb', '11')
        +skill('python', '......+....', '06')
        +skill('gsap', 'green sock animtaion protocol, pretty animations', '08')
        +skill('framer-motion', 'framer-motion... alternative to gsap', '19')
        +skill('lottie', 'integrate complex after effects animations into JS', '17')
    h1(id='projects-title') Projects 
    section(id='projects')
        +project('https://www.rachelnoelle.net', 1, 'Rachel Noelle', 'Proj - 01', 'eCommerce/Coaching', 'NextJS application allowing my client to sell their own art as well as coaching programs. Features CRUD to a supabase backend, client emails, OAuthentication, user authorization, Stripe eccommerce with webhooks, advanced form handling and more.', "rn-commerce-desktop.mp4", "rn-commerce-mobile.mp4", ["next.js", "framer.motion", "tailwind.css", "supabase"])
        +project('https://spli.st', 2, 'Splist', 'Proj - 02', 'Playlist Generator', 'A Node.js application that can generate playlists with prompting. A NoSQL database managed with Mongo and Mongoose.', "splist-portfolio.mp4", "", ['node', 'express', 'mongodb', 'mongoose', 'gsap'])
        +project('', 3, 'Wild Oasis', 'Proj - 03', 'Property Management System', "React application allowing a potential hotel's/property's management to check in/out their guests.", "", "", ['React', 'Supabase', 'Styled Components'])